.form {
  /*block*/
  margin: 40px;
}

.form__control {
  /*element*/
  margin-bottom: 16px;
  font-family: sans-serif;
}

.form__submit {
  /*element*/
  cursor: pointer;
}

.form__submit--sending {
  /*modifier*/
  cursor: wait;
}
