:root {
    --bg-primary-color: #000;
    --text-primary-color: #fff;
    --btn-primary-color: #4f24c3;

    --linear-gradient-01: linear-gradient(#1b6ca7, #442bdb);
    --linear-gradient-02: linear-gradient(#442bdb, #89223b);
    --linear-gradient-03: linear-gradient(#89223b, #9c791d);
    --linear-gradient-04: linear-gradient(#9c791d, #89223b);
}
