@fontePrincipal: Roboto, sans-serif;
@FonteDoTitulo: Lobster, cursive;
@corDotexto: #fff;
@corDeFundo: #eb3b5a;

body {
  background-color: @corDeFundo;
  font-family: @fontePrincipal;
  color: @corDotexto;
}

h1 {
  font-family: @FonteDoTitulo;
}
