$corPrincipal: #eee;
$corSecundaria: #111;

body {
  background-color: $corPrincipal;
}
header {
  background-color: $corPrincipal;

  h1 {
    color: $corSecundaria;
  }
}

button {
  padding: 16px;
  background-color: $corSecundaria;
  color: $corPrincipal;

  &:hover {
    background-color: yellow;
  }

  &.sucesso {
    background-color: green;
  }
}
